{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!-- .............about-us........ -->

  <div class="container py-4">
    <h2 class="text-center text-warning">Faculty Members</h2>
    <div class="row">
      <div class="col-md-6 border border-primary d-flex">
        <img class="image-size" src="{% static 'images/mamun.png' %}" alt="mamun">
        <div class="image-info">
          <h3>MAZHARUL ISLAM MAMUN</h3>
          <p>Math teacher</p>
        </div>
      </div>
      <div class="col-md-6 border border-primary d-flex">
        <img class="image-size" src="{% static 'images/mamun.png' %}" alt="mamun">
        <div class="image-info">
          <h3>MAZHARUL ISLAM MAMUN</h3>
          <p>Math teacher</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}