{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!-- .........admission-form........... -->

  <div class="container pb-5">
    <h2 class="text-center text-warning pt-4">ADMISSION FORM</h2>
    <form action=".">
      <div class="form-group">
        <label for="text">Aplicant Name:</label>
        <input type="text" class="form-control" id="text" placeholder="Enter Your Name" name="text">
      </div>
      <div class="form-group">
        <label for="number">Academic Session:</label>
        <!-- <input type="text" class="form-control" id="text" placeholder="Enter Your Name" name="text">
        <input type="number" class="form-control" placeholder="Enter Session Year" id="number"> -->
        <select class="form-control" id="number" name="number">
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
      </div>
      <div class="form-group">
        <label for="number">Standard:</label>
        <input type="number" class="form-control" id="number" placeholder="Enter Your Standard" name="number">
      </div>
      <div class="form-group">
        <label for="date">Birth of Date:</label>
        <input type="date" class="form-control" id="date" placeholder="Enter Your Birth Date" name="date">
      </div>
      <h6>Gender:</h6>
      <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
          <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Male
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Female
        </label>
      </div>
      <div class="form-check-inline pb-3">
        <label class="form-check-label" for="radio3">
          <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option2">Others
        </label>
      </div>
      <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email">
      </div>
      <div class="form-group">
        <label for="number">Phone Number:</label>
        <input type="number" class="form-control" id="number" placeholder="+880..." name="number">
      </div>
      <div class="form-group">
        <label for="text">Father's Name:</label>
        <input type="text" class="form-control" id="text" placeholder="Enter Father's Name" name="text">
      </div>
      <div class="form-group">
        <label for="text">Mother's Name:</label>
        <input type="text" class="form-control" id="text" placeholder="Enter Mother's Name" name="text">
      </div>
      <div class="form-group">
        <label for="number">Tution Fee:</label>
        <input type="number" class="form-control" id="number" placeholder="Enter Tution fee" name="number">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-primary">print</button>
    </form>
  </div>

{% endblock content %}