{% load static %}

  <div class="container-fluid headerr">
    <div class="container">
      <div class="row">
        <div class="col-md-3 ">
          <h2>Contact Us</h2>
          <p class="text-white">number:- 01935426725</p>
        </div>
        <div class="col-md-3 ">
          <h2>Facebook</h2>
          <a href=""><img src="{% static 'images/facebook.jpg' %}" alt="facebook"></a>
        </div>
        <div class="col-md-3 ">
          <h2>Instragram</h2>
          <a href=""><img src="{% static 'images/Instagram logo.jpg' %}" alt="instragram"></a>
        </div>
        <div class="col-md-3 ">
          <h2>Twitter</h2>
          <a href=""><img src="{% static 'images/Twitter-Logo.jpg' %}" alt="twitter"></a>
        </div>
      </div>
    </div>
  </div>