  {% load static %}
  <!-- .........main header....... -->

  <div class="container-fluid header">
    <div class="container d-flex align-items-center hight">
      <a href="/"><img src="{% static 'images/school.jpg' %}" alt="tengra-high-school"></a>
      <a href="/"><h1 class="pl-4">TENGRA HIGH SCHOOL</h1></a>
    </div>
  </div>

  <!-- ...........nabver........ -->

  <div class="container-fluid sticky-top navber-header">
    <div class="container">
      <nav class="navbar navbar-expand-sm justify-content-center">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/about">About-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admission">Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notice">Notice-Board</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-margin" href="#" id="navbardrop" data-toggle="dropdown">
              Student-Portal
            </a>
            <div class="dropdown-menu dropdown-list">
              <a class="dropdown-item" href="/result">Result</a>
              <a class="dropdown-item" href="/routine">Class-Routine</a>
              <a class="dropdown-item" href="#">Change-Passward</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log-In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log-out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>